body{
  margin: 0;
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif;
  /*font-family: 'Dosis', sans-serif;*/
  /*-webkit-text-size-adjust: none; */
}
/*canvas header block */
canvas{
  background-color: #213b66;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10px;
}

.head {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: inherit;
  margin-bottom: 0px;
}

#clo{
  width: 8em;
  height: 11em;
  z-index: -100px;
  position: absolute;
  display: block;
  float: left;
  margin: 0;
  margin-top: 3.3%;
  top: 0;
  left: 20%;
  border-radius: 0.7em;
}

.head .title > h1 > span{
  color: #ea5900;
  height: 2em;
}

.head .title{
  color: #FFF;
  position: absolute;
  display: block;
  float: right;
  text-align: right;
  margin: 0;
  padding: 0;
  top: 0;
  margin-top: 1.5%;
  right: 20%;
}

@media (min-width: 100em){
  body{
    font-size: 130%;
  }
}

/*.vertical-center {

    align-items: center;
    vertical-align: middle;
    height: 100%;
      width: 100%;
}*/
/*End canvas block */


/*navivation bar*/
.navbar-default{
  background-color: #213b66;
  margin: 0;
  height: 60px;
  top: 0px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.hidden .navbar-default {
  background-color: #213b66;
  margin: 0;
  height: 60px;
  top: 0px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-header > a {
  color: white;
}

.navbar-default .navbar-nav>li> a, .navbar-default .navbar-header>li> a{
  position: relative;
  display: block;
  width: 7em;
  height: 3.35em;
  text-align: center;
  padding-bottom: 2em;
  /*padding-left: 20px;
  padding-right: 20px;*/
  border-top-left-radius: 5em 3.3em;
  border-top-right-radius: 1.5em;
}

.navbar-default .navbar-nav>li{
  padding-top: 13px;
}

.navbar .navbar-header > a{
  padding-top: 20px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-header>li> a:hover{
text-decoration: none;
background-color: white;
color: black;
transition: all 0.5s ease;
}
/*End navigation bar*/
